$bg-purple: #756fb5;
$bg-brown: #b57959;
$bg-green: #678f7b;
$font-size-base: 14px;
$font-family-base: 'Arial, sans-serif';
$font-weight-base:bold;
$color-base: #fff;
$bg-base: rgba(255, 245, 215, 0.4);